body{
        font-family: "Poppins", sans-serif;
} 
.banner{
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 280px 0;
}
.skill-padding{
    padding: 80px 0;
}